.container {
  width: calc(50% - 20px);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px 10px 20px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 130px;
  margin: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.text {
  font-size: 16px;
  flex: 1;
}

.id {
  margin: 5px 0;
  color: red;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 12px;
}
.created {
  margin: 5px 0;
  font-size: 13px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
}

.remove {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
